[req]
default_bits = 4096
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=PH
ST=Zambales
L=Olongapo
O=LSB
OU=Engineering
emailAddress=jb.ladiero@icloud.com
CN = smart-home.local

[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = smart-home-beta.local
DNS.2 = smart-home.local
